In [7]:
# Import dependencies.
import pandas as pd
import gmaps
import requests

# Import API key
from config import g_key

In [8]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Joseph,RE,2022-07-14 15:35:16,-21.3667,55.6167,70.18,79,56,10.27
1,1,El Estor,GT,2022-07-14 15:40:11,15.5333,-89.3500,85.06,66,100,1.92
2,2,Georgetown,MY,2022-07-14 15:36:12,5.4112,100.3354,82.89,90,20,0.00
3,3,La Ronge,CA,2022-07-14 15:40:12,55.1001,-105.2842,68.25,40,20,10.36
4,4,Chunskiy,RU,2022-07-14 15:40:12,56.0815,99.6342,50.59,77,23,2.30

In [9]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [10]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
print(fig)

Figure(layout=FigureLayout(height='420px'))