In [1]:
# Import dependencies.
import pandas as pd
import gmaps
import requests

# Import API key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Joseph,RE,2022-07-14 15:35:16,-21.3667,55.6167,70.18,79,56,10.27
1,1,El Estor,GT,2022-07-14 15:40:11,15.5333,-89.3500,85.06,66,100,1.92
2,2,Georgetown,MY,2022-07-14 15:36:12,5.4112,100.3354,82.89,90,20,0.00
3,3,La Ronge,CA,2022-07-14 15:40:12,55.1001,-105.2842,68.25,40,20,10.36
4,4,Chunskiy,RU,2022-07-14 15:40:12,56.0815,99.6342,50.59,77,23,2.30

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

max_temp = city_data_df["Max Temp"]
temps = []

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.8)

# Add the heatmap layer.
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 58
What is the maximum temperature you would like for your trip? 77

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Joseph,RE,2022-07-14 15:35:16,-21.3667,55.6167,70.18,79,56,10.27
3,3,La Ronge,CA,2022-07-14 15:40:12,55.1001,-105.2842,68.25,40,20,10.36
5,5,Kloulklubed,PW,2022-07-14 15:40:13,7.0419,134.2556,73.90,76,99,6.82
7,7,Mtwara,TZ,2022-07-14 15:40:14,-10.2667,40.1833,75.76,68,69,15.21
8,8,Hilo,US,2022-07-14 15:36:36,19.7297,-155.0900,74.62,91,100,4.61
10,10,Jamestown,US,2022-07-14 15:38:36,42.0970,-79.2353,73.94,62,0,9.22
11,11,Rikitea,PF,2022-07-14 15:40:16,-23.1203,-134.9692,65.77,88,100,6.62
12,12,Deer Lake,CA,2022-07-14 15:40:17,49.1667,-57.4316,69.66,40,20,9.22
14,14,Tshane,BW,2022-07-14 15:40:18,-24.0196,21.8684,66.07,23,0,5.03
19,19,Avarua,CK,2022-07-14 15:40:20,-21.2078,-159.7750,73.45,64,100,8.05

In [20]:
preferred_cities_df.count()

City_ID       211
City          211
Country       211
Date          211
Lat           211
Lng           211
Max Temp      211
Humidity      211
Cloudiness    211
Wind Speed    211
dtype: int64

In [ ]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

In [ ]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [32]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
hotel_df.head(15)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Saint-Joseph,RE,70.18,-21.3667,55.6167,"""Plantation Bed and Breakfast"
3,La Ronge,CA,68.25,55.1001,-105.2842,Northland Motor Hotel
5,Kloulklubed,PW,73.90,7.0419,134.2556,Storyboard Beach Resort
7,Mtwara,TZ,75.76,-10.2667,40.1833,TIL Hotels Mtwara
8,Hilo,US,74.62,19.7297,-155.0900,Hilo Hawaiian Hotel
10,Jamestown,US,73.94,42.0970,-79.2353,Hampton Inn & Suites Jamestown
11,Rikitea,PF,65.77,-23.1203,-134.9692,People ThankYou
12,Deer Lake,CA,69.66,49.1667,-57.4316,"Holiday Inn Express Deer Lake, an IHG Hotel"
14,Tshane,BW,66.07,-24.0196,21.8684,
19,Avarua,CK,73.45,-21.2078,-159.7750,Paradise Inn
22,Imbituba,BR,63.86,-28.2400,-48.6703,Praia Hotel Imbituba
27,Biak,ID,74.35,-0.9131,122.8766,Penginapan Kim
29,Padang,ID,73.45,-0.9492,100.3543,Mercure Padang
32,Tongliao,CN,65.93,43.6125,122.2653,Meirujia Hotel
35,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [35]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [39]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))